*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 97.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/mountains-trees-moon-landscape-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 655.4px;
    height: 460px;
    padding: 30px;
    background: transparent;
    border: 2px solid plum;
    border-radius: 10px;
    /* backdrop-filter: blur(15px); */
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 36px;
    animation: h1 1s linear infinite;
    color: plum;
}

@keyframes h1 {
    100% {
        opacity: 0;
    }
}

#displayError {
    color: red;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.inputs {
    display: flex;
    margin-bottom: 25px;
}

.input {
    width: 50%;
    height: 5vh;
    border-color: plum;
    font-size: 20px;
}

.input::placeholder {
    color: purple;
    text-align: center;
    animation: inputplaceholder 1s linear infinite;
}

@keyframes inputplaceholder {
    from {
        transform: translate(5px);
    }

    to {
        transform: translate(-4px);
    }
}

#newInputs {
    display: none;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.action {
    border: none;
    outline: none;
    background-color: plum;
    color: white;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    position: relative;
    animation: action 1s linear infinite;
}

@keyframes action {
    from {
        transform: translate(5px);
    }

    to {
        transform: translate(-4px);
    }
}

#display {
    margin: 20px;
    padding: 20px;
    border: solid plum;
    background-color: purple;
    color: plum;
    font-size: 20px;
    /* display: none; */
    text-align: center;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

.bubbles img {
    width: 50px;
    animation: bubbles 7s linear infinite;
}

@keyframes bubbles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 1s;
}

.bubbles img:nth-child(2) {
    animation-delay: 3s;
}

.bubbles img:nth-child(3) {
    animation-delay: 5s;
}

.bubbles img:nth-child(4) {
    animation-delay: 2s;
}

.bubbles img:nth-child(5) {
    animation-delay: 4s;
}

.bubbles img:nth-child(6) {
    animation-delay: 1s;
}

.bubbles img:nth-child(7) {
    animation-delay: 2s;
}

.bubbles img:nth-child(8) {
    animation-delay: 5s;
}

.bubbles img:nth-child(9) {
    animation-delay: 3s;
}

.bubbles img:nth-child(1.5) {
    animation-delay: 1s;
}

.bubbles img:nth-child(11) {
    animation-delay: 4s;
}

.bubbles img:nth-child(12) {
    animation-delay: 2s;
}

.bubbles img:nth-child(13) {
    animation-delay: 5s;
}

.bubbles img:nth-child(14) {
    animation-delay: 3s;
}

.bubbles img:nth-child(15) {
    animation-delay: 1s;
}

.bubbles img:nth-child(16) {
    animation-delay: 4s;
}

.bubbles img:nth-child(17) {
    animation-delay: 2s;
}

.bubbles img:nth-child(18) {
    animation-delay: 5s;
}

.bubbles img:nth-child(19) {
    animation-delay: 3s;
}

.bubbles img:nth-child(20) {
    animation-delay: 1s;
}